<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Nearest Sea</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">

    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.min.js"></script>
    <link href="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.css" rel="stylesheet" />
</head>

<style>
    .info {
        margin: 1% 0% 0% 1%;
        padding: 0.5% 1% 0.5% 1%;

        position: absolute;
        z-index: 1;

        background-color: white;
        border-radius: 10px;
    }

    .button {
        padding: 0.5% 1% 0.5% 1%;
        margin: 1% 0% 0% 80%;

        position: absolute;
        z-index: 1;

        background-color: white;
        border-radius: 10px;
    }

    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 99.5%;
    }
</style>

<body>
    <div id="error-message-div">
        <div class="info">
            The nearest sea to your location is the <span id="sea-name" style="font-weight: bold;"></span> at a distance
            of <span id="distance"></span> kilometers
        </div>
    </div>
    <button id="sun-calculation" class="button" onclick="window.location = 'http://127.0.0.1:5000/distance-to-sun'">
        Distance to Sun
    </button>
    <div id="map" />
</body>

<script>


    // Check if the client's device supports geolocation
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition((position) => {
            let lat = position.coords.latitude;
            let long = position.coords.longitude;

            const distanceToNearestSea = getDistanceToNearestSea(lat, long);

            const seaSpan = document.getElementById("sea-name");
            seaSpan.innerText = distanceToNearestSea.sea
            const distanceSpan = document.getElementById("distance")
            distanceSpan.innerText = distanceToNearestSea.distance

            maptilersdk.config.apiKey = 'WI0lnalmSEwRVmJqsi8G';
            const map = new maptilersdk.Map({
                container: 'map', // container's id or the HTML element to render the map
                style: maptilersdk.MapStyle.STREETS,
                center: [long, lat], // starting position [lng, lat]
                zoom: 5, // starting zoom
            });
            const clientMarker = new maptilersdk.Marker({ color: "#FF0000" })
                .setLngLat([long, lat])
                .addTo(map);
            const seaMarker = new maptilersdk.Marker()
                .setLngLat([distanceToNearestSea.nearestPoint.long, distanceToNearestSea.nearestPoint.lat])
                .addTo(map);
        });
    } else {
        const errorMessageDiv = document.getElementById("error-message-div")
        errorMessageDiv.innerText = "The device does not support geolocation"
    }
</script>

</html>